@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor

@{
    Layout = "../Shared/_PublicLayout.cshtml";
}

@model Helpers.Models.WebsiteViewModels.AuctionDetailViewModel

<partial name="../Shared/_PublicHeaderPartial" />


<!-- User note modal -->
<div class="modal fade" id="userNoteModal" >
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h4>User's Note</h4>

                <p id="userNoteContent"></p>

                <button class="btn btn-secondary float-right" type="button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<main class="nk-pages">
    <section class="section-contact bg-transparent section pt-5">
        <div class="container">
            <div class="row d-flex mb-3">
                <div class="col-md-6 d-flex">
                    <button class="btn btn-primary" onclick="window.location.href='../Price-Discovery'">
                        <i class="fas fa-arrow-left mr-2"></i>  Go Back
                    </button>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    @if (Model.Auction.Status == Helpers.Constants.Enums.AuctionStatusTypes.PublicBidding)
                    {
                        @if (httpContextAccessor.HttpContext.Session.GetInt32("UserID") != null)
                        {
                            <button class="btn btn-primary" onclick="window.location.href='../Auctions'">
                                <i class="fas fa-paper-plane mr-2"></i> Submit Bid
                            </button>
                        }
                        else
                        {
                            <button class="btn btn-primary" data-toggle="modal" data-target="#modal-login">
                                <i class="fas fa-paper-plane mr-2"></i> Submit Bid
                            </button>
                        }
                    }
                </div>
            </div>

            <!--Bids-->
            <div class="card p-0">
                <div class="card-header">
                    <!-- .header -->
                    <span class="ms-1"><b>Auction Bids Table</b></span>
                </div><!-- .header -->
                <!-- Card Body -->
                <div class="card-body p-0">
                    <div class="table-responsive h-500">
                        @if (Model.BidItems.Count > 0)
                        {
                            <table class="table table-striped table-hover auctionsTable">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Time (days)</th>
                                        <th scope="col">User Note</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{int Count = 0;}
                                    @foreach (var item in Model.BidItems)
                                    {
                                        Count++;

                                        <tr>
                                            <th scope="row">@Count</th>
                                            <td>@item.NameSurname</td>
                                            <td>@item.UserName</td>
                                            <td>@item.Price</td>
                                            <td>@item.Time</td>
                                            <td>
                                                @if (item.UserNote != null && item.UserNote.Length > 20)
                                                {
                                                    @item.UserNote.Substring(0, Math.Min(item.UserNote.Length, 20))<span class="cursorp" onclick="ShowNoteModal('@Html.Encode(item.UserNote)');">... <i class="fas fa-eye ml-1"></i></span>
                                                }
                                                else
                                                {
                                                    @item.UserNote
                                                }
                                            </td>
                                            @*Show winner bid icon*@
                                            @if (item.AuctionBidID == Model.Auction.WinnerAuctionBidID)
                                            {
                                                <td class="bg-success text-center"> <i class="fas fa-star" title="Winner Bid"></i><b> Selected as winner</b></td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <partial name="../Shared/_EmptyPartial.cshtml" view-data='new ViewDataDictionary(ViewData) { { "Message", "There are no bids in this auction" }, { "Icon", "frown-open" } }' />
                        }
                    </div>
                </div><!-- Card Body -->

            </div>
        </div>
    </section>
</main>

<partial name="../Shared/_PublicFooterPartial" />

@section Scripts{

    <script>
        //Toggles user note modal to show all UserNote content
        function ShowNoteModal(note) {
            $("#userNoteContent").html(note);
            $("#userNoteModal").modal("toggle");
        }
    </script>
}