@{
    Layout = "../Shared/_MainLayout.cshtml";
}
@model Helpers.Models.WebsiteViewModels.GetDashBoardViewModel;

<!--Row-->
<div class="row">
    <!--.col-->
    <div class="col-lg-6 col-md-12 ">
        <div class="card mb-4">
            <div class="card-header">Active Formal Voting</div>
            <div class="card-body">
                <div class="table-responsive" style="height:350px">
                    <!--Table-->
                    <table class="table border mb-0">
                        <thead class="table-light fw-semibold">
                            <tr class="align-middle">
                                <th>Job Name</th>
                                <th>Create Date</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.VotingViewModels)
                            {
                                if (item.IsFormal == true)
                                {
                                    <tr class="align-middle">

                                        <td>
                                            @item.JobID
                                        </td>
                                        <td>
                                            @item.Title
                                        </td>
                                        <td>
                                            @item.CreateDate
                                        </td>
                                        <td>
                                            @item.Status
                                        </td>

                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> <!-- /.col-->
    <!-- /.col-->
    <div class="col-lg-6 col-md-12 ">
        <div class="card mb-4">
            <div class="card-header">Active Formal Voting</div>
            <div class="card-body">
                <div class="table-responsive" style="height:350px">
                    <table class="table border mb-0">
                        <!--Table-->
                        <thead class="table-light fw-semibold">
                            <tr class="align-middle">
                                <th>JobID</th>
                                <th>Username</th>
                                <th>Create Date</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Is Formal</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.VotingViewModels)
                            {
                                if (item.IsFormal == false)
                                {
                                    <tr class="align-middle">
                                        <td>
                                            @item.JobID
                                        </td>
                                        <td>
                                            @item.Title
                                        </td>
                                        <td>
                                            @item.CreateDate
                                        </td>
                                        <td>
                                            @item.Status
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col-->
</div>
<!--Row-->
<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-header">Active Jobs</div>
            <div class="card-body">
                <div class="table-responsive" style="height:350px">
                    <!--Table-->
                    <table class="table border mb-0">
                        <thead class="table-light fw-semibold">
                            <tr class="align-middle">

                                <th>Title</th>
                                <th>Time Frame</th>
                                <th>Job Description</th>
                                <th>Amount</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.JobPostDtos)
                            {
                                <tr class="align-middle">
                                    <td>
                                        @item.JobID
                                    </td>
                                    <td>
                                        @item.Title
                                    </td>
                                    <td>
                                        @item.JobDescription
                                    </td>
                                    <td>
                                        @item.CreateDate
                                    </td>
                                    <td>
                                        @item.Status
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>





