@using DAO_WebPortal.Resources
@{
    Layout = "../Shared/_MainLayout.cshtml";

}

<script src="../Home/lib/ckeditor/ckeditor.js"></script>

<!--Row-->
<div class="row">
    <div class="col-md-12">
        <div class="form-group mb-4">
            <label class="mb-2"><b><i class="fas fa-star"></i> Type</b></label>
            <select class="form-control" id="voteType">
                <option value="custom">Custom</option>
                <option value="va">VA Onboarding</option>
                <option value="governance">Governance</option>
            </select>
        </div> 
        <div class="d-none" id="vaVoteDiv">
            <div class="form-group mb-4">
                <label class="mb-2"><b><i class="fas fa-user"></i> New VA Username</b></label>
                <input type="text" class="form-control" id="vausername" placeholder="Username">
            </div> 
        </div>
        <div class="d-none" id="governanceVoteDiv">
            <div class="row">
                <table class="table table-striped table-hover mt-3">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Default Policing Rate</td>
                            <td><input type="text" class="form-control" id="DefaultPolicingRate" value="@Program._settings.DefaultPolicingRate" /></td>
                        </tr>
                        <tr>
                            <td>Max Policing Rate</td>
                            <td><input type="text" class="form-control" id="MaxPolicingRate" value="@Program._settings.MaxPolicingRate" /></td>
                        </tr>
                        <tr>
                            <td>Min Policing Rate</td>
                            <td><input type="text" class="form-control" id="MinPolicingRate" value="@Program._settings.MinPolicingRate" /></td>
                        </tr>
                        <tr>
                            <td>Forum KYC Required</td>
                            <td>
                                <select class="form-control" id="ForumKYCRequired" value="@Convert.ToInt32(Program._settings.ForumKYCRequired)">
                                    <!option value="1" @(Program._settings.ForumKYCRequired == true ? "selected" : "")>True</!option>
                                    <!option value="-1" @(Program._settings.ForumKYCRequired == false ? "selected" : "")>False</!option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Quorum Ratio</td>
                            <td><input type="text" class="form-control" id="QuorumRatio" value="@Program._settings.QuorumRatio" /></td>
                        </tr>
                        <tr>
                            <td>Internal Auction Time</td>
                            <td><input type="text" class="form-control" id="InternalAuctionTime" value="@Program._settings.InternalAuctionTime" /></td>
                        </tr>
                        <tr>
                            <td>Public Auction Time</td>
                            <td><input type="text" class="form-control" id="PublicAuctionTime" value="@Program._settings.PublicAuctionTime" /></td>
                        </tr>
                        <tr>
                            <td>Auction Time Type</td>
                            <td>
                                <select class="form-control" id="AuctionTimeType">
                                    <!option @(Program._settings.AuctionTimeType == "week" ? "selected" : "") value="week">Week</!option>
                                    <!option @(Program._settings.AuctionTimeType == "day" ? "selected" : "") value="day">Day</!option>
                                    <!option @(Program._settings.AuctionTimeType == "minute" ? "selected" : "") value="minute">Minute</!option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Voting Time</td>
                            <td><input type="text" class="form-control" id="VotingTime" value="@Program._settings.VotingTime" /> </td>
                        </tr>
                        <tr>
                            <td>Voting Time Type</td>
                            <td>
                                <select class="form-control" id="VotingTimeType" value="@Program._settings.VotingTimeType">
                                    <!option @(Program._settings.VotingTimeType == "week" ? "selected" : "") value="week">Week</!option>
                                    <!option @(Program._settings.VotingTimeType == "day" ? "selected" : "") value="day">Day</!option>
                                    <!option @(Program._settings.VotingTimeType == "minute" ? "selected" : "") value="minute">Minute</!option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Reputation Conversion Rate</td>
                            <td><input type="text" class="form-control" id="ReputationConversionRate" value="@Program._settings.ReputationConversionRate" /> </td>
                        </tr>
                        <tr>
                            <td>VA Onboarding Simple Vote</td>
                            <td>
                                <select class="form-control" id="VAOnboardingSimpleVote" value="@Program._settings.VAOnboardingSimpleVote">
                                    <!option @(Program._settings.VAOnboardingSimpleVote == true ? "selected" : "") value="1">True</!option>
                                    <!option @(Program._settings.VAOnboardingSimpleVote == false ? "selected" : "")  value="-1">False</!option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Simple Voting Time</td>
                            <td><input type="text" class="form-control" id="SimpleVotingTime" value="@Program._settings.SimpleVotingTime" /> </td>
                        </tr>
                        <tr>
                            <td>Simple Voting Time Type</td>
                            <td>
                                <select class="form-control" id="SimpleVotingTimeType" value="@Program._settings.SimpleVotingTimeType">
                                    <!option @(Program._settings.SimpleVotingTimeType == "week" ? "selected" : "") value="week">Week</!option>
                                    <!option @(Program._settings.SimpleVotingTimeType == "day" ? "selected" : "") value="day">Day</!option>
                                    <!option @(Program._settings.SimpleVotingTimeType == "minute" ? "selected" : "") value="minute">Minute</!option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Payment Without Participation</td>
                            <td>
                                <select class="form-control" id="DistributePaymentWithoutVote" value="@Program._settings.DistributePaymentWithoutVote">
                                    <!option @(Program._settings.DistributePaymentWithoutVote == true ? "selected" : "")  value="1">True</!option>
                                    <!option @(Program._settings.DistributePaymentWithoutVote == false ? "selected" : "")  value="-1">False</!option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Governance Fee Ratio</td>
                            <td><input type="text" class="form-control" id="GovernancePaymentRatio" value="@Program._settings.GovernancePaymentRatio" /> </td>
                        </tr>
                        <tr>
                            <td>Governance Wallet</td>
                            <td><input type="text" class="form-control" id="GovernanceWallet" value="@Program._settings.GovernanceWallet" /> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group mb-4" id="titlediv">
            <label class="mb-2" for="title"><b><i class="fas fa-heading"></i> Title</b></label>
            <input type="text" class="form-control" id="title" placeholder="Title of the post">
        </div> 
        <div class="form-group" id="descriptiondiv">
            <label class="mb-2" for="description"><b><i class="fas fa-file mx-1"></i> Description</b></label>
            <textarea type="text" id="description" name="description"  placeholder="Description of the vote" rows="10"></textarea>
        </div>
        <div class="d-flex justify-content-end my-3">
            <button type="submit" class="btn btn-primary" onclick="NewSimpleVotePost();">Start Voting</button>
        </div>
    </div>
</div>

@section Scripts{

    <script>
    $(document).ready(function () {
        if (document.body.classList.contains('dark-theme')) {
            CKEDITOR.replace('description', {
                skin: 'moono-dark'
            });
        }
        else {
            CKEDITOR.replace('description', {
                skin: 'moono-lisa'
            });
        }

        $('#voteType').on('change', function() {
            if(this.value == "custom"){
                $('#vaVoteDiv').addClass("d-none");
                $('#governanceVoteDiv').addClass("d-none");

                $('#titlediv').removeClass("d-none");
                $('#descriptiondiv').removeClass("d-none");
            }
            if(this.value == "va"){
                $('#vaVoteDiv').removeClass("d-none");   
                $('#governanceVoteDiv').addClass("d-none");

                $('#titlediv').addClass("d-none");
                $('#descriptiondiv').addClass("d-none");
            }
            if(this.value == "governance"){
                $('#vaVoteDiv').addClass("d-none");   
                $('#governanceVoteDiv').removeClass("d-none");  

                $('#titlediv').addClass("d-none");
                $('#descriptiondiv').addClass("d-none");
            }
        });
    });

    //Add new simple vote function
    function NewSimpleVotePost() {

        $.confirm({
            title: 'Confirmation',
            content: '<p>Are you sure you want to start simple vote process ?</p>',
            columnClass: 'col-md-8 col-md-offset-2',
            buttons: {
                cancel: {
                    text: 'Cancel'
                },
                confirm: {
                    text: 'Continue',
                    btnClass: 'btn btn-primary',
                    action: function () {

                        //Create job model
                        var title = $('#title').val();
                        var description = CKEDITOR.instances["description"].getData();
                        var voteType = $('#voteType').val();
                        var vausername = $('#vausername').val();

                        //Create settings model
                        var DefaultPolicingRate = parseFloat($('#DefaultPolicingRate').val());
                        var MaxPolicingRate = parseFloat($('#MaxPolicingRate').val());
                        var MinPolicingRate = parseFloat($('#MinPolicingRate').val());
                        var ForumKYCRequired = false;
                        if(parseInt($('#ForumKYCRequired').val()) == 1) { ForumKYCRequired = true; }
                        var QuorumRatio = parseFloat($('#QuorumRatio').val());
                        var InternalAuctionTime = parseInt($('#InternalAuctionTime').val());
                        var PublicAuctionTime = parseInt($('#PublicAuctionTime').val());
                        var AuctionTimeType = $('#AuctionTimeType').val();
                        var VotingTime = parseInt($('#VotingTime').val());
                        var VotingTimeType = $('#VotingTimeType').val();
                        var ReputationConversionRate = parseFloat($('#ReputationConversionRate').val());
                        var VAOnboardingSimpleVote = false;
                        if(parseInt($('#VAOnboardingSimpleVote').val()) == 1) { VAOnboardingSimpleVote = true; }
                        var SimpleVotingTime = parseInt($('#SimpleVotingTime').val());
                        var SimpleVotingTimeType = $('#SimpleVotingTimeType').val();
                        var DistributePaymentWithoutVote = false;
                        if(parseInt($('#DistributePaymentWithoutVote').val()) == 1) { DistributePaymentWithoutVote = true; }
                        var GovernancePaymentRatio = parseFloat($('#GovernancePaymentRatio').val());
                        var GovernanceWallet = $('#GovernanceWallet').val();

                        //Ajax post action
                        $.ajax({
                            type: "POST",
                            url: "../Home/New_SimpleVote_Post",
                            data: { 
                                "title": title, 
                                "description": description, 
                                "type": voteType, 
                                "vausername": vausername, 
                                "settings":{
                                    "DefaultPolicingRate": DefaultPolicingRate,
                                    "MaxPolicingRate": MaxPolicingRate,
                                    "MinPolicingRate": MinPolicingRate,
                                    "ForumKYCRequired": ForumKYCRequired,
                                    "QuorumRatio": QuorumRatio,
                                    "InternalAuctionTime": InternalAuctionTime,
                                    "PublicAuctionTime": PublicAuctionTime,
                                    "AuctionTimeType": AuctionTimeType,
                                    "VotingTime": VotingTime,
                                    "VotingTimeType": VotingTimeType,
                                    "ReputationConversionRate": ReputationConversionRate,
                                    "SimpleVotingTime": SimpleVotingTime,
                                    "SimpleVotingTimeType": SimpleVotingTimeType,
                                    "DistributePaymentWithoutVote": DistributePaymentWithoutVote,
                                    "GovernancePaymentRatio": GovernancePaymentRatio,
                                    "GovernanceWallet": GovernanceWallet
                                }  
                            },
                            success: function (result) {
                                if (result.success) {
                                    window.location.href = "../Votings";
                                }
                                else {
                                    toastr.warning(result.message);
                                }
                            },
                                failure: function (response) {
                                    toastr.warning("@Lang.ConnectionError");
                            },
                            error: function (response) {
                                    toastr.error("@Lang.UnexpectedError");
                            }
                        });


                    }

                }
            }
        });


    }
    </script>

}