@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";

}
@model List<Helpers.Models.WebsiteViewModels.JobPostViewModel>
<!-- Row -->
<div class="row">
    <div class="col-md-12">
        @if (Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                <div class="card mb-3">
                    <div class="card-header">
                        <!-- .header -->
                        <div class="titleContainer">
                            <h5 class="card-title" title="Services DAO Portal Scoping Grant">@item.Title </h5>
                            <small class="text-medium-emphasis">@item.CreateDate.ToString("dd.MM.yyyy") , @item.UserName</small>
                        </div>
                    </div><!-- .header -->
                    <!-- Card Body -->
                    <div class="card-body cursorp" onclick="window.location.href='./Job-Detail/' + @item.JobID">
                        <p class="p-3 card-text">
                            @item.JobDescription
                        </p>
                        <p class="card-text"><small class="text-medium-emphasis">Last updated @item.LastUpdate.ToString("dd.MM.yyyy")</small></p>
                    </div><!-- Card Body -->
                    <!-- Footer -->
                    <div class="card-footer">
                        <a class="card-text me-2 cA" href="./Job-Detail/@item.JobID">
                            <svg class="icon">
                                <use xlink:href="/Home/images/svg/free.svg#cil-comment-bubble"></use>
                            </svg> @item.CommentCount Comment
                        </a>
                        <a class="card-text cA" href="#" onclick="ShareJobPost();">
                            <svg class="icon">
                                <use xlink:href="/Home/images/svg/free.svg#cil-share"></use>
                            </svg> Share
                        </a>
                    </div> <!-- Footer -->
                </div>
            }
        }
        else
        {
            <partial name="~/Views/Shared/_ErrorPartial.cshtml" view-data='new ViewDataDictionary(ViewData) { { "Message", "Job not found." } }' />
        }
    </div>
</div>


@section Scripts{
    <script>

        //Share Job Post
        function ShareJobPost() {
            toastr.warning("This feature will be available in the next version.");
        }

    </script>
}