@using DAO_WebPortal.Resources
@using Helpers.Constants
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor
@model Helpers.Models.WebsiteViewModels.AuctionDetailViewModel

@{
    Layout = "../Shared/_MainLayout.cshtml";
}

@{
    string userType = httpContextAccessor.HttpContext.Session.GetString("UserType");
}

<!--Top Buttons-->
<div class="row d-flex m-2 mb-3">
    <div class="col-md-6">
        <a class="btn btn-primary" href="../Auctions">
             <i class="fas fa-arrow-circle-left me-1"></i> Go Back
        </a>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
        <a href="../Job-Detail/@Model.Auction.JobID" class="btn btn-primary float-right mx-2"><i class="fas fa-info-circle me-1"></i> Job Details</a>

        @* If auction is expired and user is admin -> User can restart auction *@
        @if (Model.Auction.Status == Enums.AuctionStatusTypes.Expired &&
        httpContextAccessor.HttpContext.Session.GetString("UserType") == Enums.UserIdentityType.Admin.ToString())
        {
            <button class="btn btn-primary float-right" onclick="RestartAuction();"><i class="fas fa-sync-alt me-1"></i>
                Restart Auction</button>
        }
    </div>
</div>

<!--Bids Table-->
<div class="card m-2">
    <div class="card-header">
        <!-- .header -->
        <span><b>Auction Bids Table</b></span>
        <a href="../Job-Detail/@Model.Auction.JobID" class="float-right">Go to job details</a>
    </div><!-- .header -->
    <!-- Card Body -->
    <div class="card-body p-0">
        @if (Model.BidItems.Count > 0)
        {
            <div class="table-responsive h-500">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Name</th>
                            <th scope="col">Username</th>
                            <th class="cursorp thSort" scope="col">Price <i class="fas fa-sort"></i></th>
                            <th class="cursorp thSort" scope="col">Time (days) <i class="fas fa-sort"></i></th>
                            <th class="cursorp thSort" scope="col">Rep. Stake <i class="fas fa-sort"></i></th>
                            <th scope="col">Github</th>
                            <th scope="col">Resume</th>
                            <th scope="col">Referrer</th>
                            <th scope="col">VA Onboarding</th>
                            <th scope="col">User Note</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{int Count = 0;}
                        @foreach (var item in Model.BidItems)
                        {
                            Count++;

                            //Set green border for winner bid
                            string colClass = "";

                            if (item.AuctionBidID == Model.Auction.WinnerAuctionBidID)
                            {
                                colClass = "bg-success text-white";
                            }

                            <tr>
                                <td class="@colClass">
                                    @if(item.UserType == Helpers.Constants.Enums.UserIdentityType.VotingAssociate.ToString()){
                                        <i data-toggle="tooltip" data-placement="top" title="@item.UserType" class="fas fa-house-user"></i>
                                    }
                                    else{
                                        <i data-toggle="tooltip" data-placement="top" title="@item.UserType" class="fas fa-user"></i>
                                    }
                                </td>
                                <td class="@colClass" id="name_@item.AuctionBidID">@item.NameSurname</td>
                                <td class="@colClass">@item.UserName</td>
                                <td class="@colClass">@item.Price</td>
                                <td class="@colClass">@item.Time</td>
                                <td class="@colClass">@item.ReputationStake</td>
                                <td class="@colClass"><a href="@item.GithubLink" target="_blank">@DAO_WebPortal.Utility.StringHelper.ShortenString(item.GithubLink, 30)</a></td>
                                <td class="@colClass"><a href="@item.ResumeLink" target="_blank">@DAO_WebPortal.Utility.StringHelper.ShortenString(item.ResumeLink, 30)</a></td>
                                <td class="@colClass">@item.Referrer</td>
                                <td class="@colClass">@item.VaOnboarding</td>
                                <td class="@colClass">                          
                                    @if (item.UserNote != null && item.UserNote.Length > 20)
                                    {
                                        @item.UserNote.Substring(0, Math.Min(item.UserNote.Length, 20))<span class="cursorp" onclick="ShowNoteModal('@Html.Encode(item.UserNote)');">... <i class="fas fa-eye ml-1"></i></span>
                                    }
                                    else
                                    {
                                        @item.UserNote
                                    }
                                </td>
                                
                                <td class="text-right @colClass">

                                    @*If bidding continues, show buttons *@
                                    @if (Model.Auction.Status == Enums.AuctionStatusTypes.InternalBidding || Model.Auction.Status == Enums.AuctionStatusTypes.PublicBidding || Model.Auction.Status == Enums.AuctionStatusTypes.Expired)
                                    {
                                        @*If user is job poster , show select winner bid button *@
                                        if (Model.Auction.JobPosterUserId == httpContextAccessor.HttpContext.Session.GetInt32("UserID"))
                                        {
                                            <a class="btn btn-sm btn-primary me-2 cursorp" onclick="ChooseAsWinnerBidModal(@item.AuctionBidID)">
                                                <svg class="icon">
                                                    <use xlink:href="/Home/images/svg/free.svg#cil-star"></use>
                                                </svg> Select Winner
                                            </a>
                                        }
                                    }

                                    @*Show winner bid icon*@
                                    @if (item.AuctionBidID == Model.Auction.WinnerAuctionBidID)
                                    {
                                        <i class="fas fa-star" title="Winner Bid"></i><span> Selected as winner</span>
                                    }

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <partial name="../Shared/_EmptyPartial.cshtml" view-data='new ViewDataDictionary(ViewData) { { "Message", "There are no bids in this auction" }, { "Icon", "frown-open" } }' />
        }
    </div><!-- Card Body -->
</div>

<!--Select Winner Bid Modal  -->
<div class="modal fade" id="SelectWinnerBidModal" tabindex="-1" aria-labelledby="AddBid" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddBid">Select Winner Bid</h5>
                <button class="btn-close" type="button" data-coreui-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to select bid #<span id="winnerBidName"></span> as winner?
            </div>
            <div id="winnerButtons" class="modal-footer">
                <button class="btn btn-secondary" type="button" data-coreui-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary selectBidBtn" onclick="ChooseAsWinnerBid(this,this.id);">Select Bid</button>
            </div>
        </div>
    </div>
</div>

<!-- User note modal -->
<div class="modal fade" id="userNoteModal" tabindex="-1" role="dialog" aria-labelledby="userNoteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-body">User Note</h5>
                <button class="btn-close" type="button" data-coreui-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="userNoteContent"></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-coreui-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        //Opens confirmation modal
        function ChooseAsWinnerBidModal(id) {
            $("#winnerBidName").text($("#name_"+id).text());
            $("#winnerButtons button:nth-of-type(2)").attr("id", id);
            $("#SelectWinnerBidModal").modal("toggle");
        }

        //Select winner bid function
        function ChooseAsWinnerBid(e, bidId) {
            $(".selectBidBtn").prop("disabled", true);
            $(".selectBidBtn").html('<i class="fas fa-circle-notch fa-spin"></i> Selecting Bid..');
                    //Ajax post action
                $.ajax({
                    type: "GET",
                    url: "../Home/ChooseWinnerBid",
                    data: {
                        "bidId": bidId
                    },
                    success: function (result) {
                            if (result.success) {
                                window.location.reload();
                            }
                            else {
                                toastr.warning(result.message);
                            }

                            $(".selectBidBtn").prop("disabled", false);
                            $(".selectBidBtn").html('Select Bid');
                        },
                    failure: function (response) {
                        toastr.warning("@Lang.ConnectionError");

                        $(".selectBidBtn").prop("disabled", false);
                        $(".selectBidBtn").html('Select Bid');
                    },
                    error: function (response) {
                        toastr.error("@Lang.UnexpectedError");

                        $("#selectBidBtn").prop("disabled", false);
                        $("#selectBidBtn").html('Select Bid');
                    }
                });

        }

        //Bids table sorting functions
        $('.thSort').click(function () {
            var table = $(this).parents('table').eq(0)
            var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
            this.asc = !this.asc
            if (!this.asc) { rows = rows.reverse() }
            for (var i = 0; i < rows.length; i++) { table.append(rows[i]) }
        })

        function comparer(index) {
            return function (a, b) {
                var valA = getCellValue(a, index), valB = getCellValue(b, index)
                return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
            }
        }

        function getCellValue(row, index) {
            return $(row).children('td').eq(index).text()
        }

        //Restart auction
        function RestartAuction() {
            $.confirm({
                title: 'Confirmation',
                content: 'Are you sure you want to restart the auction ?',
                buttons: {
                    cancel: {
                        text: 'Cancel'
                    },
                    confirm: {
                        text: 'Continue',
                        btnClass: 'btn btn-primary',
                        action: function () {
                            //Ajax get action
                            $.ajax({
                                type: "GET",
                                url: "../Home/RestartAuction?auctionid=" + @Model.Auction.AuctionID,
                                success: function (result) {
                                    if (result.success) {
                                        window.location.reload();
                                    }
                                    else {
                                        toastr.warning(result.message);

                                    }
                                },
                                failure: function (response) {
                                    toastr.warning("@Lang.ConnectionError");
                                },
                                error: function (response) {
                                    toastr.error("@Lang.UnexpectedError");
                                }
                            });

                        }
                    }
                }
            });
        }

        //Toggles user note modal to show all UserNote content
        function ShowNoteModal(note) {
            $("#userNoteContent").html(note);
            $("#userNoteModal").modal("toggle");
        }

    </script>
}

