@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewData["Title"] = "Page Title";
}
@model Helpers.Models.WebsiteViewModels.GetDashBoardViewModel;

<div class="row">
    <div class="col-sm-6 col-lg-3">
        <div class="card mb-4 text-white bg-primary-gradient">
            <div class="card-body pb-0 d-flex justify-content-between align-items-start">
                <div>
                    <div class="fs-4 fw-semibold">
                       @Model.UserCount  <span class="fs-6 fw-normal">
                            (@Model.UserRatio%
                            @if (@Model.UserRatio > 0)
                            {
                                <svg class="icon">
                                    <use xlink:href="/Home/images/svg/free.svg#cil-arrow-top"></use>
                                </svg>
                            }
                            else
                            {
                                <svg class="icon">
                                    <use xlink:href="/Home/images/svg/free.svg#cil-arrow-bottom"></use>
                                </svg>
                            }
                            )
                        </span>
                    </div>
                    <div>Users</div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-transparent text-white p-0" type="button" data-coreui-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg class="icon">
                            <use xlink:href="/Home/images/svg/free.svg#cil-options"></use>
                        </svg>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a></div>
                </div>
            </div>
            <div class="c-chart-wrapper mt-3 mx-3" style="height:70px;">
                <canvas class="chart" id="card-chart1" height="70"></canvas>
            </div>
        </div>
    </div>
    <!-- /.col-->
    <div class="col-sm-6 col-lg-3">
        <div class="card mb-4 text-white bg-info-gradient">
            <div class="card-body pb-0 d-flex justify-content-between align-items-start">
                <div>
                    <div class="fs-4 fw-semibold">
                        @Model.JobCount <span class="fs-6 fw-normal">
                            (@Model.JobRatio%
                            @if (@Model.JobRatio > 0)
                            {
                                <svg class="icon">
                                    <use xlink:href="/Home/images/svg/free.svg#cil-arrow-top"></use>
                                </svg>
                            }
                            else
                            {
                                <svg class="icon">
                                    <use xlink:href="/Home/images/svg/free.svg#cil-arrow-bottom"></use>
                                </svg>
                            })
                        </span>
                    </div>
                    <div>Jobs</div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-transparent text-white p-0" type="button" data-coreui-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg class="icon">
                            <use xlink:href="/Home/images/svg/free.svg#cil-options"></use>
                        </svg>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a></div>
                </div>
            </div>
            <div class="c-chart-wrapper mt-3 mx-3" style="height:70px;">
                <canvas class="chart" id="card-chart2" height="70"></canvas>
            </div>
        </div>
    </div>
    <!-- /.col-->
    <div class="col-sm-6 col-lg-3">
        <div class="card mb-4 text-white bg-warning-gradient">
            <div class="card-body pb-0 d-flex justify-content-between align-items-start">
                <div>
                    <div class="fs-4 fw-semibold">
                        @Model.AuctionCount <span class="fs-6 fw-normal">
                            (@Model.AuctionRatio%
                            @if (@Model.AuctionRatio > 0)
                            {
                                <svg class="icon">
                                    <use xlink:href="/Home/images/svg/free.svg#cil-arrow-top"></use>
                                </svg>
                            }
                            else
                            {
                                <svg class="icon">
                                    <use xlink:href="/Home/images/svg/free.svg#cil-arrow-bottom"></use>
                                </svg>
                            })
                        </span>
                    </div>
                    <div>Auctions</div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-transparent text-white p-0" type="button" data-coreui-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg class="icon">
                            <use xlink:href="/Home/images/svg/free.svg#cil-options"></use>
                        </svg>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a></div>
                </div>
            </div>
            <div class="c-chart-wrapper mt-3" style="height:70px;">
                <canvas class="chart" id="card-chart3" height="70"></canvas>
            </div>
        </div>
    </div>
    <!-- /.col-->
    <div class="col-sm-6 col-lg-3">
        <div class="card mb-4 text-white bg-danger-gradient">
            <div class="card-body pb-0 d-flex justify-content-between align-items-start">
                <div>
                    <div class="fs-4 fw-semibold">
                        @Model.VotingCount <span class="fs-6 fw-normal">
                            (@Model.VotingRatio%
                            @if (@Model.VotingRatio > 0)
                            {
                                <svg class="icon">
                                    <use xlink:href="/Home/images/svg/free.svg#cil-arrow-top"></use>
                                </svg>
                            }
                            else
                            {
                                <svg class="icon">
                                    <use xlink:href="/Home/images/svg/free.svg#cil-arrow-bottom"></use>
                                </svg>
                            })
                        </span>
                    </div>
                    <div>Votings</div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-transparent text-white p-0" type="button" data-coreui-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg class="icon">
                            <use xlink:href="/Home/images/svg/free.svg#cil-options"></use>
                        </svg>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a></div>
                </div>
            </div>
            <div class="c-chart-wrapper mt-3 mx-3" style="height:70px;">
                <canvas class="chart" id="card-chart4" height="70"></canvas>
            </div>
        </div>
    </div>
    <!-- /.col-->
</div>
<!-- /.row-->

<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-header">Jobs Admin Approval</div>
            <div class="card-body">
                <div class="table-responsive" style="height:350px">
                    <table class="table border mb-0">
                        <thead class="table-light fw-semibold">
                            <tr class="align-middle">
                                <th>Title</th>
                                <th>Time Frame</th>
                                <th>Job Description</th>
                                <th>Amount</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.JobPostDtos)
                            {
                                <tr class="align-middle">
                                    <td>
                                        <div>@item.Title</div>
                                        <div class="small text-medium-emphasis"><span>New</span> | Registered: @item.CreateDate.ToString("dd.MM.yyyy")</div>
                                    </td>
                                    <td>
                                        @item.TimeFrame
                                    </td>
                                    <td title="@item.JobDescription">

                                        @item.JobDescription
                                    </td>
                                    <td>
                                        @item.Amount
                                    </td>
                                    <td>
                                        @item.Status
                                    </td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-transparent p-0 dark:text-high-emphasis" type="button" data-coreui-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <svg class="icon">
                                                    <use xlink:href="/Home/images/svg/free.svg#cil-options"></use>
                                                </svg>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" href="#">Info</a>
                                                <a class="dropdown-item" href="#">Edit</a>
                                                <a class="dropdown-item text-danger" href="#">Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col-->
</div>
<!-- /.row-->
<div class="row">
    <div class="col-lg-6 col-md-12 ">
        <div class="card mb-4">
            <div class="card-header">Auction</div>
            <div class="card-body">
                <div class="table-responsive" style="height:350px">
                    <table class="table border mb-0">
                        <thead class="table-light fw-semibold">
                            <tr class="align-middle">
                                <th>Job Name</th>
                                <th>Create Date</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.AuctionViewModels)
                            {
                                <tr class="align-middle">
                                    <td>
                                        @item.Title
                                    </td>
                                    <td>
                                        @item.CreateDate.ToString("dd.MM.yyyy")
                                    </td>
                                    <td>
                                        @item.StartDate.ToString("dd.MM.yyyy")
                                    </td>
                                    <td>
                                        @item.EndDate.ToString("dd.MM.yyyy")
                                    </td>
                                    <td>
                                        @item.Status
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 ">
        <div class="card mb-4">
            <div class="card-header">Voting</div>
            <div class="card-body">
                <div class="table-responsive" style="height:350px">
                    <table class="table border mb-0">
                        <thead class="table-light fw-semibold">
                            <tr class="align-middle">
                                <th>JobID</th>
                                <th>Create Date</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Is Formal</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.VotingViewModels)
                            {
                                <tr class="align-middle">
                                    <td>@item.JobID</td>
                                    <td>
                                        @item.CreateDate.ToString("dd.MM.yyyy")
                                    </td>
                                    <td>
                                        @item.StartDate.ToString("dd.MM.yyyy")
                                    </td>
                                    <td>
                                        @item.EndDate.ToString("dd.MM.yyyy")
                                    </td>
                                    <td>
                                        @if (item.IsFormal == true)
                                        {

                                            <span>Formal</span>}
                                        else
                                        { <span>InFormal</span>}
                                        }

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col-->
</div>
<!-- /.row-->
<div class="row">
    <div class="col-lg-6 col-md-12 ">
        <div class="card mb-4">
            <div class="card-header">Auction</div>
            <div class="card-body">
                <div class="c-chart-wrapper" style="height:300px">
                    <canvas class="chart" id="main-chart" height="300"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 ">
        <div class="card mb-4">
            <div class="card-header">Voting</div>
            <div class="card-body">
                <div class="c-chart-wrapper" style="height:300px">
                    <canvas class="chart" id="main-chart2" height="300"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-12 ">
        <div class="card mb-4">
            <div class="card-header">User Log</div>
            <div class="card-body">
                <div class="table-responsive" style="height:350px">
                    <table class="table border mb-0">
                        <thead class="table-light fw-semibold">
                            <tr class="align-middle">
                                <th>User ID</th>
                                <th>Date</th>
                                <th>Type</th>
                                <th>Explanation</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.UserLogDtos)
                            {
                                <tr class="align-middle">
                                    <td>@item.UserId</td>
                                    <td>
                                        @item.Date
                                    </td>
                                    <td>
                                        @item.Type
                                    </td>
                                    <td>
                                        @item.Explanation
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 ">
        <div class="card mb-4">
            <div class="card-header">Application Logs</div>
            <div class="card-body">
                <div class="table-responsive" style="height:350px">
                    <table class="table border mb-0">
                        <thead class="table-light fw-semibold">
                            <tr class="align-middle">
                                <th>Application</th>
                                <th>Date</th>
                                <th>Type</th>
                                <th>Explanation</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ApplicationLogDtos)
                            {
                                <tr class="align-middle">
                                    <td>@item.Application</td>
                                    <td>
                                        @item.Date
                                    </td>
                                    <td>
                                        @item.Type
                                    </td>
                                    <td>
                                        @item.Explanation
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col-->
</div>
<!-- /.row-->

@section Scripts{

    <script src="~/Home/chartjs/js/main.js"></script>
}




