@{
    Layout = "../Shared/_MainLayout.cshtml";
}
@model Helpers.Models.WebsiteViewModels.GetDashBoardViewModelVA;

<div class="row">
    <div class="col-md-6 col-lg-2">
        <div class="card-header">
            <svg style="color: rgba(46,184,92,1);" class="comment-icon me-1">
                <use xlink:href="/Home/images/svg/free.svg#cil-user"></use>
            </svg>
            Info
        </div>
        <div class="cardy text-white cardGreen mb-2 mt-1">
            <div class="card-body p-2">
                <h6 class="card-title mb-1">
                    <svg class="DashIcon">
                        <use xlink:href="/Home/images/svg/free.svg#cil-star"></use>
                    </svg>
                    Available Reputation
                </h6>
                <h3 class="text-right mb-0">
                    @if (Model.UserReputation != null)
                    {
                        @String.Format("{0:0.00000}", Math.Round(Model.UserReputation.LastUsableTotal, 5))
                    }
                    else
                    {
                        <span>-</span>
                    }
                </h3>
            </div>
        </div>
        <div class="cardy text-white cardGreen mb-2">
            <div class="card-body p-2">
                <h6 class="card-title mb-1">
                    <svg class="DashIcon">
                        <use xlink:href="/Home/images/svg/free.svg#cil-library-add"></use>
                    </svg>
                    My Jobs
                </h6>
                <h3 class="text-right mb-0 fw-semibold">
                    @Model.MyJobCount
                    <span class="fs-6 fw-normal">
                        (@Model.JobRatio%
                        @if (Model.JobRatio > 0)
                        {
                            <svg class="icon">
                                <use xlink:href="/Home/images/svg/free.svg#cil-library-add"></use>
                            </svg>
                        }
                        else
                        {
                            <svg class="icon">
                                <use xlink:href="/Home/images/svg/free.svg#cil-arrow-bottom"></use>
                            </svg>
                        })
                    </span>
                </h3>
            </div>
        </div>
        <div class="cardy text-white cardGreen mb-2">
            <div class="card-body p-2">
                <h6 class="card-title mb-1">
                    <svg class="DashIcon">
                        <use xlink:href="/Home/images/svg/free.svg#cil-auction"></use>
                    </svg>
                    My Auctions
                </h6>
                <h3 class="text-right mb-0 fw-semibold">
                    @Model.MyAuctionCount
                    <span class="fs-6 fw-normal">
                        (@Model.AuctionRatio%
                        @if (Model.AuctionRatio > 0)
                        {
                            <svg class="icon">
                                <use xlink:href="/Home/images/svg/free.svg#cil-arrow-top"></use>
                            </svg>
                        }
                        else
                        {
                            <svg class="icon">
                                <use xlink:href="/Home/images/svg/free.svg#cil-arrow-bottom"></use>
                            </svg>
                        })
                    </span>
                </h3>
            </div>
        </div>
        <div class="cardy text-white cardGreen mb-2">
            <div class="card-body p-2">
                <h6 class="card-title mb-1">
                    <svg class="DashIcon">
                        <use xlink:href="/Home/images/svg/free.svg#cil-thumb-up"></use>
                    </svg>
                    My Votes
                </h6>
                <h3 class="text-right mb-0 fw-semibold">
                    @Model.MyVotesCount
                    <span class="fs-6 fw-normal">
                        (%
                        @*@if (Model.VotingRatio > 0)
                            {
                                <svg class="icon">
                                    <use xlink:href="/Home/images/svg/free.svg#cil-arrow-top"></use>
                                </svg>
                            }
                            else
                            {
                                <svg class="icon">
                                    <use xlink:href="/Home/images/svg/free.svg#cil-arrow-bottom"></use>
                                </svg>
                            }*@)
                    </span>
                </h3>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-5">
        <div class="row">
            <div class="col-sm-5 col-md-6 col-lg-12">
                <div class="card-header">
                    <svg style="color: #31AF91;" class="comment-icon">
                        <use xlink:href="/Home/images/svg/free.svg#cil-comment-bubble"></use>
                    </svg>Last Comments
                </div>
                <div class="cardz mt-1" style="max-height: 310px;overflow: auto;">
                    @if (Model.LastComments.Count > 0)
                    {
                        @foreach (var item in Model.LastComments)
                        {
                            <div onclick="window.location.href = '../Job-Detail/@item.JobID'" class="TopComment text-white mt-1 text-justify float-left">
                                <img src="~/Home/images/avatars/@item.ProfileImage" alt="" class="rounded-circle" width="30" height="30" onerror="this.src='../Home/images/avatars/default.png'">
                                <h5>@item.UserName</h5> <span>- @item.Date</span> <br>
                                <p class="comment-p mb-1">
                                    @if (item.Comment.Length > 150)
                                    {
                                        @item.Comment.Substring(0, Math.Min(item.Comment.Length, 150)) <span>..</span>
                                    }
                                    else
                                    {
                                        @item.Comment
                                    }
                                </p>
                            </div>
                        }
                    }
                    else
                    {
                        <partial name="../Shared/_EmptyPartial.cshtml" view-data='new ViewDataDictionary(ViewData) { { "Message", "No comments yet." } }' />
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-5">
        <div class="row">
            <div class="col-sm-5 col-md-6 col-lg-12">
                <div class="card-header">
                    <svg style="color: #D8B944;" class="comment-icon">
                        <use xlink:href="/Home/images/svg/free.svg#cil-star"></use>
                    </svg>Popular Jobs
                </div>
                <div class="cardz mt-1" style="max-height: 310px;overflow: auto;">
                    @if (Model.PopularJobs.Count > 0)
                    {
                        @foreach (var item in Model.PopularJobs)
                        {
                            <div onclick="window.location.href = '../Job-Detail/@item.JobID'" class="TopJob text-white mt-1 text-justify float-left">

                                <img src="~/Home/images/avatars/@item.ProfileImage" alt="" class="rounded-circle" width="30" height="30" onerror="this.src='../Home/images/avatars/default.png'">
                                <h5>@item.UserName</h5> <span>- @item.CreateDate</span> <br>
                                <p class="comment-p mb-1">
                                    @if (item.Title.Length > 50)
                                    {
                                        <span>&#8226;</span> @item.Title.Substring(0, Math.Min(item.Title.Length, 50)) <span>..</span>
                                    }
                                    else
                                    {
                                        <span>&#8226;</span> @item.Title
                                    }
                                </p>
                                <p class="comment-p mb-1">
                                    @if (item.JobDescription.Length > 150)
                                    {
                                        @item.JobDescription.Substring(0, Math.Min(item.JobDescription.Length, 150)) <span>..</span>
                                    }
                                    else
                                    {
                                        @item.JobDescription
                                    }
                                </p>
                            </div>
                        }
                    }
                    else
                    {
                        <partial name="../Shared/_EmptyPartial.cshtml" view-data='new ViewDataDictionary(ViewData) { { "Message", "No popular jobs yet." } }' />
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row-->
<!--Row-->
<div class="row mt-4">
    <!--.col-->
    <div class="col-lg-12">
        <div class="card mb-4">
            <div class="card-header">Owner Jobs</div>
            <div class="card-body p-0">
                @if (Model.MyJobs.ownedJobs.Count() > 0)
                {
                    <div class="table-responsive" style="max-height:500px">
                        <!--Table-->
                        <partial name="../Shared/_JobTablePartial.cshtml" model="Model.MyJobs.ownedJobs" />
                    </div>
                }
                else
                {
                    <partial name="../Shared/_EmptyPartial.cshtml" view-data='new ViewDataDictionary(ViewData) { { "Message", "You don՚t have any owner jobs." } }' />
                }
            </div>
        </div>
    </div>
    <!-- /.col-->
</div>



<!--Row-->
<div class="row">
    <!-- /.col-->
    <div class="col-lg-12">
        <div class="card mb-4">
            <div class="card-header">Doer Jobs</div>
            <div class="card-body p-0">
                @if (Model.MyJobs.doerJobs.Count() > 0)
                {
                    <div class="table-responsive" style="max-height: 500px">
                        <partial name="../Shared/_JobTablePartial.cshtml" model="Model.MyJobs.doerJobs" />
                    </div>
                }
                else
                {
                    <partial name="../Shared/_EmptyPartial.cshtml" view-data='new ViewDataDictionary(ViewData) { { "Message", "You don՚t have any doer jobs." } }' />
                }
            </div>
        </div>
    </div>
    <!-- /.col-->
</div>

