@using DAO_WebPortal.Resources
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";

}
@model Helpers.Models.DtoModels.MainDbDto.JobPostDto
<div class="row">
    <div class="col-md-12">
        <div class="form-group mb-4">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" value="@Model.Title">
        </div>
        <div class="form-group mb-4">
            <label for="amount">Amount</label>
            <input type="text" class="form-control" id="amount" value="@Model.Amount">
        </div>
        <div class="form-group mb-4">
            <label for="time">Time Frame</label>
            <input type="text" class="form-control" id="time" value="@Model.TimeFrame">
        </div>

        <div class="form-group mb-4">
            <label for="description">Job Description</label>
            <textarea type="text" class="form-control" id="description" value="@Model.JobDescription" rows="5"></textarea>
        </div>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary" onclick="Update();">Submit Job</button>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {

    });

     function Update() {
         dataModel = @Html.Raw(Json.Serialize(Model));
         dataModel.title = $('#title').val()
         dataModel.amount = $('#amount').val();
         dataModel.time = $('#time').val();
         dataModel.jobDescription = $('#description').val();

            $.ajax({
                type: "PUT",
                url: "../Home/My_Job_Update",
                data: dataModel,
                success: function (result) {
                    console.log(result);
                    if (result.success) {
                        toastr.success(result.message);
                        setTimeout(function () {
                            window.location.href = "./../My-Jobs";
                        }, 1000);
                    }
                    else {
                        toastr.warning(result.message);

                    }
                },
                  failure: function (response) {
                        toastr.warning("@Lang.ConnectionError");
                },
                error: function (response) {
                     toastr.error("@Lang.UnexpectedError");
                }

            });
        }

</script>