@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";

}

@model List<Helpers.Models.WebsiteViewModels.JobPostViewModel>

<div class="row d-flex mb-3">
    <div class="col-md-6 d-flex">     
    </div>
    <div class="col-md-6 d-flex justify-content-end">
        <button class="btn btn-primary" type="button" onclick="window.location.href='./New-Job';">
            <svg class="icon me-2">
                <use xlink:href="/Home/images/svg/free.svg#cil-plus"></use>
            </svg>New Job
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @foreach (var item in Model)
        {
            <div class="card mb-3">
                <div class="card-header">
                    <div class="titleContainer">
                        <h5 class="card-title" title="Services DAO Portal Scoping Grant">@item.Title </h5>
                        <small class="text-medium-emphasis">@item.CreateDate.ToString("dd.MM.yyyy")</small>
                    </div>
                </div>
                <div class="card-body cursorp" onclick="window.location.href='./Job-Detail/'+@item.JobID">
                    <p class="p-3 card-text">
                       @item.JobDescription 
                    </p>
                    <p class="card-text"><small class="text-medium-emphasis">Last updated @item.LastUpdate.ToString("dd.MM.yyyy") </small></p>
                </div>
                <div class="card-footer">
                    <a class="card-text me-2 cA" href="./Job-Detail/@item.JobID">
                        <svg class="icon">
                            <use xlink:href="/Home/images/svg/free.svg#cil-comment-bubble"></use>
                        </svg> @item.CommentCount Comment
                    </a>
                    <a class="card-text cA" href="#">
                        <svg class="icon">
                            <use xlink:href="/Home/images/svg/free.svg#cil-share"></use>
                        </svg> Share
                    </a>
                    <a class="card-text cA" onclick="window.location.href='./My-Job-Edit/'+@item.JobID">
                        <svg class="icon">
                            <use xlink:href="/Home/images/svg/free.svg#cil-share"></use>
                        </svg> Edit
                    </a>
                </div>
            </div>
        }
    </div>
</div>

